.about_section-image {
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
}

.about_section-image:nth-child(2) {
    transform: skew(-15deg);
}

.about_section-image:hover {
    transform: skew(0deg);
}

.about_section-content h1 {
    margin-top: 2rem;
}

.about_section-content p {
    margin-top: 1rem;
}

.about_story-container, .about_mission-container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}



.about_vision-container {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}


@media screen and (max-width:1024px) {

    .about_section-image {
        width: 60%;
    }

    .about_section-content h1 {
        margin-bottom: 1.2rem;
    }

    .about_story-container, .about_vision-container, .about_mission-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about_vision-container .about_section-image {
        grid-row: 1;
    }





}



@media screen and (max-width:600px) {

    .about_section-image {
        width: 80%;
        margin: auto;
    }

    .about_story-container, .about_vision-container, .about_mission-container {

        gap: 2rem;
    }

   




}