

.main_header{
    width: 100vw;
    height: calc(100vh -  3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.main_header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.main_header-left{
    margin-top: -3rem;
}
.main_header-left h1{
    color: black;
}
.main_header-left h1 span{
    color: RGB(255, 165, 0);
}
.main_header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}
.main_header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
    color: black;
}
.main_header-right{
    display: grid;
    place-items: center;
    position: relative;
}
.main_header-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg,var(--color-secondary),transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}
.main_header-image{
    position: relative;
}
.main_header-right:hover .main_header-circle{
    filter: blur(15px);
}





.programs{
    margin-top: 3rem;


}
.programs_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    margin-top: 4rem;

}
.programs_program a{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items:center;
}

.programs_program:hover a{
    background: var(--color-secondary);
    color: var(--color-gray-600);
}




.values_container{
    display:grid;
    grid-template-columns: 38% 50%;
    gap: 15%;
}
.values_image{
    filter:saturate(0.25);
    transition: var(--transition);
}

.values_image:hover{
    filter:saturate(1);
  
}
.values_right > p{
    margin:1.5rem 0 5rem;
}
.values_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}
.card.values_value{
    padding-top: 3.5rem;
    text-align: left;
    position: relative;

}
.card.values_value span{
    position: absolute;
    top: -1.5rem;
}

.faqs_wrapper{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 1.5rem;
    align-items: flex-start;
}
.faq{
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
.faq div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_icon{
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
}

.faq p{
    margin-top: 1.5rem;
}





.testimonials{
    width: 50rem;
    margin-inline:auto;
}

.testimonials_head{
    justify-content: center;

}

.card.testimonial{
    position: relative;
    text-align: center;
    margin-top: 5rem;
}
.testimonial_avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26 26,54,0.4);
    transition: var(--transition);
    border:  2px solid transparent;
}
.testimonials:hover .testimonial_avatar{
    border-radius: 50%;
    border-color: var(--color-gray-400);
}

.testimonial_quote{
    font-style: italic;
    margin: 1rem 0 2rem;
}
.card small .testimonial_title{
    margin-top: 0.3rem;
}

.testimonail_btn-container{
    width: fit-content;
    margin: 2.4rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.testimonials_btn{
    background: transparent;
    cursor: pointer;
}
.testimonials_btn svg{
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}





footer{
    background: var(--color-primary);
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}
.footer_container{
    display: grid;
    grid-template-columns: 26% 1fr 1fr 1fr ;
    gap: 6rem;
}

.footer_container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}
.footer_container article p{
    margin-top: 0.5rem;


}
.footer_container article h4{
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.footer_socials{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer_socials a{
    background: var(--color-gray-100);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: var(--transition);
}

.footer_socials a svg{
    color: var(--color-gray-600);
}

.footer_socials a:hover{
    background: transparent;
    border-color: var(--color-gray-100);
    
}

.footer_copyright{
    color: var(--color-gray-100);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-primary-variant);
    margin-top: 5rem;
}




@media screen and (max-width:1024px) {

    .main_header{
        height: fit-content;
        padding: 12rem 0;
    }
    .main_header-container{
        gap: 0;
    }
    .main_header-circle{
        width: 16rem;
        height: 16rem;
    }
    .programs_wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .values_container{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }
    .values_wrapper{
        gap: 4rem 3rem;
    }
    .values_image{
        display: none;
    }

    .faqs_wrapper{
        grid-template-columns: 1fr;
    }
    .testimonials{
        width: 75%;
    }
    .footer_container{
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    

}


@media screen and (max-width:600px) {

    .main_header{
        margin-top: 0;
        padding: 12rem 0 0 ;
        height: 100vh;
    }
    .main_header-container{
        grid-template-columns: 1fr ;
    }
    .programs_wrapper{
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }
    .programs_program{
        width: 84%;
        margin: 0 auto;
    }

    .values_wrapper{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .card.values_value{
        width: 84%;
        margin: 0 auto;
    }
    .faqs_wrapper{
        margin-top: 3rem;
        gap: 1rem;
    }
    .testimonials{
        width: 100%;
    }
    footer{
        margin-top: 7rem;
    }
    .footer_container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .footer_container article{
        align-items: center;
    }

    .footer_container article p{
        text-align: center;
    }




}